@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tangerine:wght@400;700&display=swap");
@import "tailwindcss";

@layer base {
  @theme {
    --color-bravered: #e63946;
    --color-oceanblue: #457b9d;
    --color-cyan: #a8dadc;
    --color-bonewhite: #f1faee;
    --color-dark: #1d3557;
    --color-blueblack: #0f141d;
    --color-nodejs: #68A063;
    --color-javascript: #F0DB4F;
    --color-tailwind: #00bcd4;
    --font-tangerine: font-family: "Tangerine", cursive;
  }
  body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth !important;
  }
}
